// app global css in SCSS form

@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

body.body--dark {
  --q-primary: $dark-page;
}

// body.body--light {
//   background: $primary;
// }
